# FastAPI & ASGI server
fastapi
uvicorn[standard]

# Firebase Admin SDK
firebase-admin

# Qdrant client
qdrant-client

# Pydantic model support
pydantic

# For CORS middleware
python-multipart
aiofiles

# Environment variables
python-dotenv
starlette
typing
firestore

